.row {
  display: flex;
  border-bottom: 1px dashed #999;
}

.column {
  padding: 20px;
}

.upload,
.origin,
.output {
  width: 300px;
  max-height: 300px;
  overflow: hidden;
  text-align: center;
}

.origin img,
.output img {
  max-width: 100%;
  max-height: 300px;
  vertical-align: middle;
}

.drop-content {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted #999;
  border-radius: 4px;
  min-height: 100px;
  height: 100%;
}

.drop-content label {
  color: #3db8fd;
}

.drop-content label:hover {
  cursor: pointer;
}

#file-elem {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

#file-elem:focus+label {
  outline: thin dotted;
}

#file-elem:focus-within+label {
  outline: thin dotted;
}